<app-table [data]="data"
           [sort]="sorting"
           [limit]="limit"
           [pagination]="pagination"
           [scrolledDistance]="scrolledDistance"
           [isLoading]="isLoading"
           (sortChanged)="sortData($event)"
           (scrollEvent)="scroll($event)"
           (infinityScrollEvent)="infinityScroll($event)">
  <ng-template #tableHeader>
    <div class="patients-table__header">
      <app-table-header-cell [width]="100" sortKey="id">
        ID
      </app-table-header-cell>
      <app-table-header-cell [width]="180" sortKey="name">
        Name
      </app-table-header-cell>
      <app-table-header-cell [width]="200" type="grow">
        Facility
      </app-table-header-cell>
      <app-table-header-cell [width]="150">
        MRN
      </app-table-header-cell>
      <app-table-header-cell [width]="140" sortKey="sex">
        Sex
      </app-table-header-cell>
      <app-table-header-cell [width]="150" sortKey="dob">
        DOB
      </app-table-header-cell>
      <app-table-header-cell [width]="150" type="grow">
        SSN
      </app-table-header-cell>
      <app-table-header-action-cell appStickyCell direction="right"
                                    [width]="22"></app-table-header-action-cell>
    </div>
  </ng-template>
  <ng-template #tableBody let-item>
    <div class="patients-table__row clickable-row">
      <app-table-cell [width]="100">
        <app-ellipsis-text [tooltipText]="item.id">
          {{ item.id }}
        </app-ellipsis-text>
      </app-table-cell>

      <app-table-cell [width]="180">
        <app-ellipsis-text [tooltipText]="item.fullName">
          {{ item.fullName }}
        </app-ellipsis-text>
      </app-table-cell>

      <app-table-cell [width]="200" type="grow">
        <app-ellipsis-text tooltipText="{{ item.facilityName }}">
          {{ item.facilityName }}
        </app-ellipsis-text>
      </app-table-cell>

      <app-table-cell [width]="150">
        <app-ellipsis-text [tooltipText]="item.mrn">
          {{ item.mrn }}
        </app-ellipsis-text>
      </app-table-cell>

      <app-table-cell [width]="140">
        <app-ellipsis-text class="sex-label" [tooltipText]="item.sex">
          {{ item.sex }}
        </app-ellipsis-text>
      </app-table-cell>

      <app-table-cell [width]="150">
        <app-ellipsis-text tooltipText="{{ item.dob | date }}">
          {{ item.dob | date }}
        </app-ellipsis-text>
      </app-table-cell>

      <app-table-cell [width]="150" type="grow">
        <app-ellipsis-text [tooltipText]="item.ssn">
          {{ item.ssn }}
        </app-ellipsis-text>
      </app-table-cell>

      <app-table-cell appStickyCell direction="right" [width]="22" [paddings]="false">
        <app-table-actions [disabled]="false">
          <app-table-action>
            Delete
          </app-table-action>
        </app-table-actions>
      </app-table-cell>
    </div>
  </ng-template>
</app-table>
