table-action-with-sub-actions


<!--<mde-popover-target #actionsElement="mdePopoverTarget">-->
<!--  <button class="table-action"-->
<!--          mdePopoverTriggerOn="hover"-->
<!--          [mdePopoverTriggerFor]="actionsPopover"-->
<!--          [mdePopoverTargetAt]="actionsElement"-->
<!--          (click)="$event.stopPropagation();">-->
<!--    <span class="table-action__icon">-->
<!--      <app-icon *ngIf="icon" width="24" height="24" [name]="icon" color="inherit"></app-icon>-->
<!--    </span>-->
<!--    <span class="table-action__title">-->
<!--      <ng-content></ng-content>-->
<!--    </span>-->
<!--  </button>-->
<!--</mde-popover-target>-->


<!--<mde-popover #actionsPopover="mdePopover"-->
<!--             class="actions-popover-v2"-->
<!--             [mdePopoverOverlapTrigger]="false"-->
<!--             [mdePopoverArrowOffsetX]="18"-->
<!--             [mdePopoverArrowWidth]="0"-->
<!--             [mdePopoverOffsetX]="-170"-->
<!--             [mdePopoverOffsetY]="-10"-->
<!--             mdePopoverPositionY="below"-->
<!--             mdePopoverArrowColor="white">-->
<!--  <div class="actions-container">-->
<!--    <ng-content select="[sub-actions-list]"></ng-content>-->
<!--  </div>-->
<!--</mde-popover>-->
