:host {
  display: flex;
  align-items: center;
  min-width: 0;
  font-size: 0;
  height: inherit;
}

.ellipsed-text {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  font-family: "Montserrat";
  color: inherit;
  transition: color 0.3s ease-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
