.actions-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 32px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
  transition: background-color 0.3s ease-out;
  cursor: pointer;

  &:hover {
    background-color:#37393D;

    app-icon {
      fill: #C9C9C9;
    }
  }

  app-icon {
    fill: #979797;
  }


  &.active {
    background-color: #37393D;

    app-icon {
      fill: #096BEF;
    }

    &:hover {
      app-icon {
        fill: #005CD8;
      }
    }
  }
}
