X

<!--<mde-popover-target #actionsElement="mdePopoverTarget">-->
<!--  <div class="actions-trigger"-->
<!--       [ngClass]="{active: isOpen, disabled: disabled}"-->
<!--       mdePopoverTriggerOn="click"-->
<!--       [mdePopoverTriggerFor]="actionsPopover"-->
<!--       [mdePopoverTargetAt]="actionsElement"-->
<!--       (click)="$event.stopPropagation();"-->
<!--       (opened)="onOpen()"-->
<!--       (closed)="onClose()">-->
<!--    <app-icon width="24" height="24" [name]="ACTIONS_MENU_ICON" color="inherit"></app-icon>-->
<!--  </div>-->
<!--</mde-popover-target>-->


<!--<mde-popover #actionsPopover="mdePopover"-->
<!--             class="actions-popover-v2"-->
<!--             [mdePopoverOverlapTrigger]="false"-->
<!--             [mdePopoverArrowOffsetX]="18"-->
<!--             [mdePopoverArrowWidth]="0"-->
<!--             [mdePopoverOffsetX]="0"-->
<!--             [mdePopoverOffsetY]="10"-->
<!--             mdePopoverPositionY="below"-->
<!--             mdePopoverPositionX="before"-->
<!--             mdePopoverArrowColor="white">-->
<!--  <div class="actions-container">-->
<!--    <ng-content></ng-content>-->
<!--  </div>-->
<!--</mde-popover>-->
